body {
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.mainbox{
  background-color: white;
  width: 400px;
  height: 350px;
  margin: 50px auto;
  padding-left: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 50px;
}
.main input{
    width: 160px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-right: 0px;
}
#result{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    width: 330px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-right: 35px;
}
.button button{
  background-color: #e7e794;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.button button:hover{
  background-color: #bbbb82;
  
}
