body {
  background-color: #f1e6af;
  margin: 0;
  padding: 0%;
}
.header {
  background-color: #badfdb;
  text-align: center;
  padding: 15px;
  width: 100%;
}
.sidebar {
  background-color: #ffa4a4;
  position: absolute;
  text-align: center;
  height: 100vh;
  width: 200px;
  padding: 15px;
  display:flex;
  flex-direction: column;
  text-align:left;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer {
  background-color: #badfdb;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}
.box1 {
  background-color: #facfcf;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  margin-right: 15px;
  margin-top: 20px;
  margin-left: 250px;
  border-radius: 10px;
}
.boxi {
  text-align: center;
  font-size: 60px;
  background-color: #ffeeee;
  width: 320px;
  height: 170px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.boxi:hover {
  background-color: #f7c4c4;
}
.box1:hover {
  background-color: #ffd8d8;
}
.sdebar{
  font-size: 30px;
  text-align: center;
  background-color: #ffa4a4;
  width: 150px;
  height: 50px;
  gap:20px;
  padding: 10px;
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sdebar:hover{
  color: #ffffff;
  background-color: #ff8f8f;
  margin-left: 10px;
}